@page "/configuration"
@using DocuitWeb.Data

@inject IStringLocalizer<Configuration> Localizer
    <AuthorizeView>
        <Authorized>
            <div class="container text-left">
                <div class="row">
                    <div class="col-12">
                        @*<Company></Company>*@
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-6">
                        @*<BuildingType></BuildingType>*@
                    </div>
                    <div class="col-6">
                        <WorkingCenter></WorkingCenter>
                    </div>
                </div>
            </div>
        </Authorized>
        <NotAuthorized>
            <NotAuthorizedPage></NotAuthorizedPage>
        </NotAuthorized>
    </AuthorizeView>