@page "/configuration"

@using DocuitWeb.Data

@inject IStringLocalizer<Configuration> Localizer


<br />
<div class="container text-left">
    <div class="row">
        <div class="col-6">
            <Company></Company>
        </div>
        <div class="col-6">
            <WorkingCenter></WorkingCenter>
        </div>
    </div>
</div>