@page "/drag"
@using DocuitWeb.Models

<div class="row">
    <div class="col">
        <Dropzone Items="MyItems" MaxItems="5">
            <div>@context.Name</div>
        </Dropzone>
    </div>
    <div class="col">

    </div>
</div>

@code
{
    List<Login> MyItems = new List<Login>();
    Login userino = new Login();

    protected override async Task OnInitializedAsync()
    {

        userino = new Login();
        userino.FamilyName = "Río";
        userino.Name = "Roc";
        //MyItems.ad
        MyItems.Add(userino);
        userino = new Login();
        userino.FamilyName = "Zapata";
        userino.Name = "Pere";
        MyItems.Add(userino);
    }
}