@page "/drag"
@using DocuitWeb.Models

@inject UserService userService
@inject ProjectService project

<div class="row">
    <div class="col" style="border:dotted">
        <Dropzone Items="companyCompanyUserList" TItem="ProjectUserSecurity">
            <div style="margin:2px;border:1px;background-color:green">@context.Name @context.FamilyName</div>
        </Dropzone>
    </div>
    <div class="col" style="border:double; background-color:lightgreen">
        <Dropzone Items="selectedUsersList" TItem="ProjectUserSecurity">
             <div>@context.Name @context.FamilyName</div>
        </Dropzone>
    </div>
</div>
<button class="btn btn_general btn-success" @onclick="ButtonClick">Check Debug</button>

@code
{
    List<ProjectUserSecurity> companyCompanyUserList = new List<ProjectUserSecurity>();
    List<ProjectUserSecurity> selectedUsersList = new List<ProjectUserSecurity>();
    ProjectUserSecurity companyUser = new ProjectUserSecurity();
    ProjectUserSecurity selectedUser = new ProjectUserSecurity();

    protected override async Task OnInitializedAsync()
    {
        IEnumerable<ProjectUserSecurity> returnList = new List<ProjectUserSecurity>();

        returnList = await project.FetchProjectUserSecurity(1, 1);

        foreach (ProjectUserSecurity projectUserSecurity in returnList)
        {
            if (projectUserSecurity.ProjectId == -1)
            {
                //User is available to select
                companyCompanyUserList.Add(projectUserSecurity);
            }
            else
            {
                // User is selected in the project
                selectedUsersList.Add(projectUserSecurity);
            }
        }
    }

    void ButtonClick(EventArgs e)
    {

    }
}