@page "/"


@inject IStringLocalizer<Index> Localizer
@inject MyBlocker MBlocker

<div class="wrapper">
    <div class="container">
        <div class="container d-inline">
            <div class="jumbotron jumbotron-fluid bg-transparent align-items-center" style="vertical-align: middle">
                <div class="container">
                    <h1 class="display-2 super_title">@Localizer["MSG001"]</h1>
                    <p class="lead super_subtitle">
                        <strong>@Localizer["MSG002"].</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

    protected override void OnInitialized()
    {
        MBlocker.Text = @SharedLocalizer["OP_PROCESS_RUNNING"].ToString();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            //await sessionStorage.SetItemAsync("username", "roc");
            //await sessionStorage.SetItemAsync("CompanyId", 1);
            //var name = await sessionStorage.GetItemAsync<string>("name");

            @*await _protectedLocalStore.SetLocalAsync("username", "roc");*@

        }
    }
}
