@page "/projectspage"
@using DocuitWeb.Models
@using DocuitWeb.Data
@using DocuitWeb.Components

@inject IStringLocalizer<ProjectsPage> Localizer
@inject StatusService StatusService
@inject ProjectService ProjectService

    <AuthorizeView>
        
        <br />
        <div class="container text-left">
            <ProjectSearch OnUserClickTable="UserProjectSelection"></ProjectSearch>
            @{
                if (showDetail)
                {<ProjectDetail myProject=project OnUserSaveButton="UserSavedProjectDetail"></ProjectDetail>}
            }
        </div>

    </AuthorizeView>
@code
{
    Project project = new Project();

    bool showDetail = false;

    private void UserProjectSelection(Project project)
    {
        if (project != null)
        {
            this.project = project;
            showDetail = true;
        }
    }

    public void UserSavedProjectDetail()
    {
        StateHasChanged();
    }
}
