@page "/test"
@using DocuitWeb.Models
@using DocuitWeb.Data

@inject IStringLocalizer<User> Localizer

@inject UserService UserService
@inject SecurityService SecurityService



<h1>Cookie-Info</h1>
<p>Connected User: @ConnectedUser</p>
<p>CompanyId: @CompanyId</p>

@code{

    string ConnectedUser { get; set; }
    int CompanyId { get; set; }

    protected override async Task OnInitializedAsync()
    {

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        Login login;

        login = await MyStorageTools.BufferGetLocalStorageAsync();
        ConnectedUser = login.Name + " " + login.FamilyName;
        CompanyId = login.CompanyId;
        if (firstRender) { StateHasChanged(); }
    }
}