@inherits LayoutComponentBase

<NavMenu />
<div class="container">
    @Body
</div>
<BlazoredToasts Position="Blazored.Toast.Configuration.ToastPosition.TopRight" Timeout="2" IconType="IconType.FontAwesome" ShowProgressBar="true" 
                SuccessClass="success-toast-override" SuccessIcon="fas fa-thumbs-up" 
                ErrorClass="error-toast-override" ErrorIcon="fas fa-times"
                WarningClass="warning-toast-override" WarningIcon="fas fa-exclamtion"
/>

